# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea
.idea
/.vscode
.vscode
/.sert

marketing/node_modules
dashboard/node_modules
container/node_modules
auth/node_modules
